{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Entry{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" id="title" class="form-control" value="{{ request.form['title'] }}" required>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea name="body" id="body" class="form-control" rows="5" required>{{ request.form['body'] }}</textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
{% endblock %}