{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Entry{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <form method="post" class="col s12 entry">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="title" id="title" class="validate" value="{{ request.form['title'] }}" required>
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="body" id="body" class="materialize-textarea validate" required>{{ request.form['body'] }}</textarea>
          <label for="body">Body</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
{% endblock %}