{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ entry['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <form method="post" class="col s12 entry">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="title" id="title" class="validate" value="{{ request.form['title'] or entry['title'] }}" required>
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="body" id="body" class="materialize-textarea validate" required>{{ request.form['body'] or entry['body'] }}</textarea>
          <label for="body">Body</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Update entry</button>
    </form>
  </div>

  <div class="divider"></div>

  <div class="row">
    <form action="{{ url_for('blog.delete', entry_id=entry['id']) }}" method="post" class="col s12 entry">
      <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete entry</button>
    </form>
  </div>
{% endblock %}