{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New User{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <form method="post" class="col s12 user">
      <div class="row">
        <div class="input-field col s12">
          <label for="role">Role</label>
          <select name="role" id="role" class="browser-default" required>
            <option value="" disabled selected>Choose role</option>
            {% for role in roles %}
              <option value="{{ role }}">{{ role }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="username" id="username" class="validate" required>
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="password" name="password" id="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <button type="submit" class="btn waves-effect waves-light blue darken-1">Create</button>
    </form>
  </div>
{% endblock %}