{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Users{% endblock %}</h1>
{% endblock %}

{% block content %}
  <a class="btn btn-info" href="{{ url_for('user.create') }}">create</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user['name'] }}</td>
          <td>{{ user['role'] }}</td>
          <td>
            <a class="btn btn-info" href="{{ url_for('user.update', user_id=user['id']) }}">update</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}