{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update "{{ user['username'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="user pure-form pure-form-stacked">
    <fieldset>
      <label for="role">Role</label>
      <select name="role" id="role" required>
        {% for role in roles %}
          <option value="{{ role }}" {% if user['role'] == role %}selected{% endif %}>{{ role }}</option>
        {% endfor %}
      </select>

      <label for="username">Username</label>
      <input name="username" id="username" value="{{ request.form['username'] or user['username'] }}" required>

      <button type="submit" class="pure-button pure-button-primary">Update user</button>
    </fieldset>
  </form>
  <hr>

  <form action="{{ url_for('user.change_password', user_id=user['id']) }}" method="post" class="user pure-form pure-form-stacked">
    <fieldset>
      <label for="password">Password</label>
      <input type="password" name="new_password" id="new_password" required>

      <button type="submit" class="pure-button pure-button-primary">Update password</button>
    </fieldset>
  </form>
  <hr>

  <form action="{{ url_for('user.delete', user_id=user['id']) }}" method="post" class="user pure-form">
    <fieldset>
      <button type="submit" class="pure-button pure-button-primary" onclick="return confirm('Are you sure?');">Delete user</button>
    </fieldset>
  </form>
{% endblock %}