<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %} - CMS</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav class="pure-menu pure-menu-horizontal">
    <a href="{{ url_for('index') }}" class="pure-menu-heading pure-menu-link">CMS</a>
    <ul class="pure-menu-list">
      {% if g.user %}
        <li class="pure-menu-item"><a href="{{ url_for('user.index') }}" class="pure-menu-link">Users</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('blog.edit_top') }}" class="pure-menu-link">Edit</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('mypage.index') }}" class="pure-menu-link">{{ g.user['username'] }}</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('auth.logout') }}" class="pure-menu-link">Logout</a></li>
      {% else %}
        <li class="pure-menu-item"><a href="{{ url_for('auth.login') }}" class="pure-menu-link">Login</a></li>
      {% endif %}
    </ul>
  </nav>
  <div class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>