{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2 id="username"></h2>{{ user['username'] }}</h2>
  <form method="post" class="user pure-form pure-form-stacked">
    <fieldset>
      <label for="old_password">Old Password</label>
      <input type="password" name="old_password" id="old_password" required>

      <label for="new_password">New Password</label>
      <input type="password" name="new_password" id="new_password" required>

      <button type="submit" class="pure-button pure-button-primary">Update password</button>
    </fieldset>
  </form>
{% endblock %}