#entries .entry {
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #c0c0c0;
}

.flash {
  color: white;
  padding: 0.25em 0.5em;
  margin: 0.5em 0;
  border-radius: 0.5em;
}

.flash.success {
  background: rgb(28, 184, 65);
}

.flash.error {
  background: rgb(202, 60, 60);
}

.entry .body {
  white-space: pre-line;
}

/* for flask-paginate */
.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}
