{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Mypage{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table class="user pure-table">
    <tbody>
      <tr>
        <td>Username</td>
        <td id="username">{{ user['username'] }}</td>
      </tr>
      <tr>
        <td>Role</td>
        <td id="role">{{ user['role'] }}</td>
      </tr>
    </tbody>
  </table>
  <a class="pure-button" href="{{ url_for('mypage.change_my_password') }}">change password</a>
{% endblock %}