.entry .body {
  white-space: pre-line;
}

.content {
  padding: 0 1rem 1rem;
}

form label {
  font-weight: bold;
}

.entry input, .entry textarea {
  min-width: 18em;
}

.content textarea {
  min-height: 12em;
  resize: both;
}
