nav {
  background: rgb(66, 184, 221);
}

.content {
  margin: 0 5%;
}

.flash {
  color: white;
  padding: 0.25em 0.5em;
  margin: 0.5em 0;
  border-radius: 0.5em;
}

.flash.success {
  background: rgb(28, 184, 65);
}

.flash.error {
  background: rgb(202, 60, 60);
}

form label {
  font-weight: bold;
}

.entry .body {
  white-space: pre-line;
}

.entry input, .entry textarea {
  min-width: 18em;
}

.content textarea {
  min-height: 12em;
  resize: both;
}

table.user {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}